body
{
    background: url(./media/image/home.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container
{
    padding: 250px;
    
}
.container h1
{
    color: white;
    font-weight: bold;
}
.container h1 span
{
    color: yellow;
}